# Data Cleaning

In this notebook we are going to attempt to clean the dataset shown in the 'data' folder.

Importing Libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Loading Data:

In [ ]:
df = pd.read_csv('../your_dataset.csv')  # Load your dataset here

Inspecting the data:

In [8]:
# Checking the first few rows of the dataframe
df.head()

# Checking the data types and non-null counts
df.info()

# Getting some basic statistics
df.describe()

# Checking the rows and columns
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

(1000, 8)

Handling missing values:

In [ ]:
# Displaying the total number of missing values in each column
df.isnull().sum()

# Dropping rows/columns with too many missing values

# Filling missing values

# Checking there are no more missing values
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Removing duplicates:

In [12]:
# Checking for duplicates
duplicates = df.duplicated().sum()
print(f'Total duplicates: {duplicates}')

# Removing duplicates
df = df.drop_duplicates()

# Final check
df.info()

Total duplicates: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Correcting data types:

In [ ]:
# Converting data types if necessary

# Specifically looking at the numerical columns
print(df.select_dtypes(include=['number']).head())

# Specifically looking at the onject columns
print(df.select_dtypes(include=['object']).head())

# Converting object columns to string type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   string
 1   race/ethnicity               1000 non-null   string
 2   parental level of education  1000 non-null   string
 3   lunch                        1000 non-null   string
 4   test preparation course      1000 non-null   string
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), string(5)
memory usage: 62.6 KB

Handling outliers:

In [ ]:
# Working out the IQR (Interquartile Range)
Q1 = df.select_dtypes(include=['number']).quantile(0.25)
Q3 = df.select_dtypes(include=['number']).quantile(0.75)
IQR = Q3 - Q1
print(IQR)

# Identifying outliers based on IQR
outliers = ((df.select_dtypes(include=['number']) < (Q1 - 1.5 * IQR)) | (df.select_dtypes(include=['number']) > (Q3 + 1.5 * IQR)))

# Printing the number of outliers in each numerical column
print(outliers.sum())

# Handling outliers (e.g., removing or capping them)
df = df[~outliers.any(axis=1)] # Removing rows with outliers
df.info()

math score       20.00
reading score    20.00
writing score    21.25
dtype: float64
math score       8
reading score    6
writing score    5
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       988 non-null    string
 1   race/ethnicity               988 non-null    string
 2   parental level of education  988 non-null    string
 3   lunch                        988 non-null    string
 4   test preparation course      988 non-null    string
 5   math score                   988 non-null    int64
 6   reading score                988 non-null    int64
 7   writing score                988 non-null    int64
dtypes: int64(3), string(5)
memory usage: 69.5 KB

Cleaning Strings

In [ ]:
# Removing white spaces from string columns

# Converting strings to lowercase

# Replacing or removing unwanted characters in strings

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       988 non-null    string
 1   race/ethnicity               988 non-null    string
 2   parental level of education  988 non-null    string
 3   lunch                        988 non-null    string
 4   test preparation course      988 non-null    string
 5   math score                   988 non-null    int64
 6   reading score                988 non-null    int64
 7   writing score                988 non-null    int64
dtypes: int64(3), string(5)
memory usage: 69.5 KB

C:\Users\leeno\AppData\Local\Temp\ipykernel_43776\368207601.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.strip()
C:\Users\leeno\AppData\Local\Temp\ipykernel_43776\368207601.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.lower()
C:\Users\leeno\AppData\Local\Temp\ipykernel_43776\368207601.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)